@model IEnumerable<book_store.Models.Chart>

@{

    ViewData["Title"] = "انواع کتاب";
}
<h1 class="title">درباره ما</h1>

<div class="col-md-12 col-sm-12 col-xs-12  omega  about">
    <p align="center" class="about_info">
        نريال یک فروشگاه زنجیره‌ای است و شاید بتوان آن را تنها فروشگاه زنجیره‌ای کتاب کشور و یکی از بهترین کتاب فروشی های تهران نامید. این مجموعه بزرگ دارای ۴۰ شعبه، تنها در شهر تهران، است و شما می‌توانید در آن هر محصول فرهنگی، از کتاب‌های مختلف در رده‌های سنی گوناگون گرفته تا لوازم‌التحریر و هدایای نفیس دیگر بیابید. اگر به دنبال کتاب‌های زبان اصلی می‌گردید، نريال یکی از گزینه‌های خوب برای این کار است

        تمامی شعبه‌های شهر کتاب در تهران جذاب و دنج هستند، اما شهر کتاب‌های فرشته و الهیه از سوی کتاب‌خوان‌ها بیشتر به همه توصیه می‌شوند. همچنین نريال مرکزی بیشتر از سایر شعبه‌ها شناخته‌شده است.

    </p>
   

</div>
@foreach (var chart in Model)
{
    <div class="rzm_progress_bar">
        <a href=@chart.Adress><h4>@chart.Title</h4></a>
        <small class="pull-right rzm_perchantage">@chart.Small</small>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="@chart.AriaValuenow" aria-valuemin="@chart.AriaValuemin" aria-valuemax="@chart.AriaValuemax" style="width:7%;">
                <span class="sr-only">@chart.Span</span>
            </div>
        </div>
    </div>
}
<p align="right">با کلیک  کردن روی عنوان کتاب به سایت آن وارد می شوید </p>



